{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "proseWrap": "always",
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 120
      }
    }
  ]
}
