{
    "trailingComma": "all",
    "printWidth": 80,
    "proseWrap": "always",
    "tabWidth": 4,
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "printWidth": 120
            }
        }
    ]
}
