// Här kodar vi för mobilvyn.
body{
    font-family: 'Josefin Sans', sans-serif;
}

header {
    outline: 1px solid;
    height: 4rem;
    display: table;
    width: 100vw;
}

h1 {
    font-size: 1.5rem;
    display: inline;
    position: relative;
    align-items: center;
    display: table-cell;
    vertical-align: middle;
    left: 10px;
}

.container {
    position: relative;
    float: right;
    height: 4rem;
    display: flex;
    align-items: center;
    gap: 3px;
    right: 20px;
}

.shoppingCart {
    font-size: 1.4rem;
    position: relative;
    
}

.price {
    display: none;
    font-size: 1.5rem;
    position: relative;
    top: -6px;
}

.menuButton {
    width: 35px;
    height: 35px;
    border: 0px;
    background: transparent;
}

.menuButton span {
    display: block;
    background-color: black;
    height: 4px;
    width: 25px;
    margin-bottom: 4px;
    border-radius: 4px;
}

.nav {
    width: 55vw;
    height: 100vh;
    background-color: rgb(88, 145, 145);
    position: fixed;
    top: 0px;
    right: -100%;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 1;
}

nav.open {
    right: 0%;
}

.nav ul li {
    border-bottom: 2px solid rgba(0,0,0,0.05);
    border-top: 2px solid rgba(225,225,225,0.05);
}

.fa-regular {
    font-size: 2rem;
    position: relative;
    top: 0.5rem;
}

.closeMenu {
    font-size: 1.6rem;
    position: relative;
    top: 0.3rem;
    background: transparent;
    outline: 0;
    border: 0;
}

.selection {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    top: 2rem;
    font-size: 2rem;
    padding: 0;
}

.container2 {
    position: relative;
    padding: 3px;
    z-index: 0;
}

.search {
    background: transparent;
    outline: none;
    border: 0;
    font-size: 1rem;
}

.searchbox {
    padding: 5px;
    outline: 3px solid;
    max-width: fit-content;
    max-height: fit-content;
    border-radius: 50px;
}

.limited-time-campaign {
    visibility: hidden;
}

// Kundkorg

.summary {
    width: 100vw;
    height: 100vh;
    background-color: rgb(158, 165, 165);
    position: fixed;
    top: 0px;
    right: -100%;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.summary.open {
    right: 0%;
}

.summary span {
    font-size: 1.5rem;
}

.summary p {
    font-size: 2rem;
}

.orderButton {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.closeSummary {
    background: transparent;
    border: 0;
}
.amountProducts {
    display: flex;
    justify-content: space-around;
}

.discount {
    display: flex;
    justify-content: space-around;
}

.tax {
    display: flex;
    justify-content: space-around;
}

.line {
    border-bottom: 1px solid;
    width: 50vw;
    margin: auto;
}

.totalPrice {
    display: flex;
    justify-content: space-around;
}

// Kort och faktura under denna rad är osynlig fram tills att betalningssätt har valts.
.invoice {
    display: none;
}

.card {
    display: none;
}
