/*Här kodar vi för mobilvyn.*/

body {
  font-family: 'Josefin Sans', sans-serif;
}

header {
  height: 4rem;
  display: table;
  width: 100vw;
  background: #34495e;
}

/*Dekoration till länkar*/
a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 1.5rem;
  display: inline;
  position: relative;
  align-items: center;
  display: table-cell;
  vertical-align: middle;
  left: 10px;
  font-family: 'Jua', sans-serif;
  color: #eb61a6;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.shoppingCart .fa-solid {
  color: white;
}

.container {
  position: relative;
  float: right;
  height: 4rem;
  display: flex;
  align-items: center;
  gap: 3px;
  right: 20px;
}

.cartContainer {
  width: 30px;
  height: 30px;
}

.amount {
  background-color: rgb(248, 108, 108);
  font-weight: bold;
  font-size: 1rem;
  width: 1rem;
  position: absolute;
  top: 8px;
  left: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.shoppingCart {
  font-size: 1.4rem;
  position: relative;
}

.price {
  font-size: 1.5rem;
  position: relative;
  display: none;
  color: white;
}

.price.open {
  display: block;
}

.menuButton {
  width: 35px;
  height: 35px;
  border: 0px;
  background: transparent;
}

.menuButton span {
  display: block;
  background-color: white;
  height: 4px;
  width: 25px;
  margin-bottom: 4px;
  border-radius: 4px;
}

.nav {
  width: 55vw;
  height: 100vh;
  background-color: #34495e;
  position: fixed;
  top: 0px;
  right: -100%;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 1;
}

nav.open {
  right: 0%;
}

.nav ul li {
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  border-top: 2px solid rgba(225, 225, 225, 0.05);
}

.closeMenu {
  font-size: 1.6rem;
  position: relative;
  top: 0.3rem;
  background: transparent;
  outline: 0;
  border: 0;
}

.selection {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  top: 2rem;
  font-size: 2rem;
  padding: 0;
}

.selection li {
  color: white;
}

.container2 {
  position: relative;
  padding: 3px;
  z-index: 0;
}

.search {
  background: transparent;
  outline: none;
  border: 0;
  font-size: 1rem;
}

.searchbox {
  padding: 5px;
  outline: 3px solid;
  max-width: fit-content;
  max-height: fit-content;
  border-radius: 50px;
}

.limited-time-campaign {
  visibility: hidden;
}

// Munkblock

.sectionDonut {
  text-align: center;
  border: 1px solid;
  margin-bottom: 30px;
  background-color: #91f89b;
}

.sectionDonut #img1 {
  position: relative;
  left: 25%;
}

.donutContainer {
  position: relative;
  margin: auto;
  display: flex;
}

#img1 {
  border-radius: 20%;
}

#img2 {
  opacity: 0;
  position: relative;
}

.slideshowBtn {
  position: relative;
  margin: auto;
  color: black;
}

#leftArrow {
  background: transparent;
  border: 0;
}

#rightArrow {
  background: transparent;
  border: 0;
}

// Kundkorg

.fa-regular {
  font-size: 2rem;
  position: relative;
  top: 0.5rem;
  color: white;
}

.summary {
  width: 100vw;
  height: 100vh;
  background-color: #34495e;
  position: fixed;
  top: 0px;
  right: -110%;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.summary.open {
  right: 3%;
}

.summary span {
  font-size: 1.5rem;
}

.summary p {
  font-size: 2rem;
}

.orderButton {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.order {
  border-radius: 10%;
  background-color: greenyellow;
  font-weight: bold;
  height: 2rem;
}

.closeSummary {
  background: transparent;
  border: 0;
  position: relative;
  left: 20px;
}

.cartText {
  position: relative;
  text-align: center;
  color: white;
}
.amountProducts,
.discount,
.shipping {
  display: flex;
  justify-content: space-around;
  color: white;
}

.line {
  border-bottom: 1px solid;
  width: 50vw;
  margin: auto;
}

.totalPrice {
  display: flex;
  justify-content: space-around;
  color: white;
}

.donutsOrdered {
  text-align: center;
}

.donutSum {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.orderedDonuts {
  color: white;
}

.amountDonut {
  color: white;
}

// Kort och faktura under denna rad är osynlig fram tills att betalningssätt har valts.

#form {
  text-align: center;
}
.invoice {
  display: none;
}

.card {
  display: none;
}

/* Style sortering och filter*/
#sort {
  appearance: none;
  border: none;
  cursor: pointer;
}

.sort-filter {
  margin: 15px;
}

.sort-filter-actions {
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
/* denna ska visas med hjälp av JavaScript*/
.filter-range {
  text-align: right;
  display: none;
}

.filter {
  cursor: pointer;
}
/*Orderbekräftelsen*/
.orderSummary {
  display: none;
}
